*{
	margin: 0;
	padding: 0;
}
head,body{
	height: 100%;
	background:#CD6889;
}
body{        
 font-size: 12px;
  font-family: arial;     
}
	
.header-container{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	width: 250px;
	height: 400px;
	background: #CD9B9B;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	font-family: arial;
	align-content:space-around;
	} 
	
.tag a img{
	margin-top: 50px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.page-info{
	position:relative;
	text-align: center;
	 bottom: 220px;
}
.page-info .info1{
font-size: 18px;
margin-bottom: 10px;
}
.page-info .info2{
margin-bottom: 20px;
}

.page-foot{
text-align: center;
margin-left: auto;
margin-right: auto;
padding-top: 25px; 
bottom:100;
width: 0;
height: 0;
border-bottom: 20px solid #000;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
}